.App {
  display: flex;
  justify-content: center;
  background-color: bisque
}

.uploadImage {
  background-color: aquamarine;
  margin-right: 20px;
  width: 300px;
}

.displayImage {
  background-color: yellow;
  width: 300px;

}

.displayImg {
  margin-top: 39px;
}
